[Unit]
Description=MPD to MPRIS bridge
After=mpd.service

[Service]
Type=simple
ExecStart=%h/.cargo/bin/mpd-mpris-rs
Restart=on-failure
RestartSec=2
Environment=RUST_LOG=info

[Install]
WantedBy=default.target
